# Flutter
.dart_tool/
.packages
.pub/
/build/
/ios/Flutter/.last_build_id

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
